.events {
    list-style: none;
    padding: 0;
}
.event {
    padding: 20px 5px;
}
.event:nth-child(even) {
    background: rgba(0, 0, 0, 0.4);
}
.event:nth-child(odd) {
    background: rgba(0, 0, 0, 0);
}