.events {
    list-style: none;
    padding: 0;
}

.event {
    padding: 15px 20px;
}

.event:nth-child(even) {
    background: rgba(0, 0, 0, 0.4);
}

.event:nth-child(odd) {
    background: rgba(0, 0, 0, 0);
}

.event-text {
    margin: 0;
}

.no-logs {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 11px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.logs {
    margin-top: 15px;
    list-style: none;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.log {
    padding: 6px 11px;
    overflow: scroll;
}

.log.critical {
    background-color: var(--ingest-critical-color);
}

.log.critical:nth-child(even) {
    background-color: var(--ingest-critical-color-dark);
}

.log.error {
    background-color: var(--ingest-error-color);
}

.log.error:nth-child(even) {
    background-color: var(--ingest-error-color-dark);
}

.log.warning {
    background-color: var(--ingest-warning-color);
}

.log.warning:nth-child(even) {
    background-color: var(--ingest-warning-color-dark);
}

.log.info {
    background-color: var(--ingest-info-color);
}

.log.info:nth-child(even) {
    background-color: var(--ingest-info-color-dark);
}

.log.debug {
    background-color: var(--ingest-debug-color);
    color: #ccc;
}

.log.debug:nth-child(even) {
    background-color: var(--ingest-debug-color-dark);
}

.log.trace {
    background-color: var(--ingest-trace-color);
    color: #ccc;
}

.log.trace:nth-child(even) {
    background-color: var(--ingest-trace-color-dark);
}
