.status-card {
    display: flex;
    justify-content: center;
}

.status-card a {
    /* Override :visited style */
    color: var(--text-color);
}

.status-item {
    padding: 0 10px;
}

a.status-item {
    text-decoration: none;
}

.status-item.with-issues {
    color: red;
}

.more-ingests {
    color: #8c8c8c;
}