/* TODO This is used in more than ingest -- rename it? */

.ingest-heading {
    padding: 0 20px;
}

.ingest-metadata {
    padding: 0 20px;
}

.no-games {
    padding: 10px 20px;
    color: var(--text-color-deemphasized);
    font-style: italic;
}

.games {
    list-style: none;
    padding: 0;
}

.game > a {
    display: block;
    font-weight: normal;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: white;
}

.game:active > a {
    color: gray;
}

.game:nth-child(even) > a {
    background-color: rgba(0, 0, 0, 0.7);
}

.num-issues-container {
    margin: 10px 0 0;
}

.num-warnings, .num-errors, .num-critical {
    padding: 3px 10px;
    display: inline-block;
    border-radius: 12px;
}

.num-warnings {
    background: var(--ingest-warning-color);
}

.num-errors {
    background: var(--ingest-error-color);
}

.num-critical {
    background: var(--ingest-critical-color);
}

/* .card is a specificity hack */
.card .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.pagination a {
    padding: 0 20px;
}