/* Reset (manual) */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Variables */

body {
    /* "dark" versions of the colors are used to alternate shade in table-like displays */
    --ingest-trace-color: #343f40;
    --ingest-trace-color-dark: #2a3233;
    --ingest-debug-color: #162d51;
    --ingest-debug-color-dark: #122441;
    --ingest-info-color: #1d4436;
    --ingest-info-color-dark: #17362b;
    --ingest-warning-color: #603805;
    --ingest-warning-color-dark: #4d2d04;
    --ingest-error-color: #5e0b0b;
    --ingest-error-color-dark: #4b0909;
    /* Critical gets the glaring red and error gets the pretty red */
    --ingest-critical-color: red;
    --ingest-critical-color-dark: #c00;
}

/* Styles */

body {
    --text-color: white;
    --text-color-deemphasized: #8c8c8c;

    background: #01292b;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif; /* same as mmolb.com */
}

.main-title {
    text-align: center;
    font-size: 4em;
}

.main-title a {
    text-decoration: none;
    color: var(--text-color);
}

.card {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 14px;
    margin: 20px auto;
    overflow: hidden; /* To properly cut off border-radius corners */
}

.card.seamless {
    padding: 0;
}

.card.seamless-h {
    padding-left: 0;
    padding-right: 0;
}

.seamless-subhead {
    padding: 20px 20px 0 20px;
}

.card > :first-child {
    margin-top: 0;
}

.card > :last-child {
    margin-bottom: 0;
}

:link {
    color: var(--text-color);
    font-weight: bold;
}

:visited {
    color: var(--text-color-deemphasized);
}