/* Reset (manual) */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Styles */

body {
    background: #01292b;
    max-width: 800px;
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif; /* same as mmolb.com */
}

.main-title {
    text-align: center;
    font-size: 4em;
}

.card {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 14px;
    margin: 20px auto;
}