{# TODO: There's now a PaginatedGamesContext struct in pages.rs, this macro should just accept that instead of its three constituent parts separately #}
{% import "macros" as macros %}

{% macro games(games, previous_page_url, next_page_url) %}
{% for game in games %}
    <li class="game">
        <a href="{{ game.uri }}">
            {{ macros::season_day(season=game.season, day=game.day) }}:
            {{ game.away_team_emoji }} {{ game.away_team_name }}
            @
            {{ game.home_team_emoji }} {{ game.home_team_name }}
            {% if game.num_warnings > 0 or game.num_errors > 0 or game.num_critical > 0 %}
                <p class="num-issues-container">
                    {% if game.num_warnings > 0 %}
                        <span class="num-warnings">⚠️ {{ game.num_warnings }} warning{% if game.num_warnings != 1 %}s{% endif %}</span>
                    {% endif %}
                    {% if game.num_errors > 0 %}
                        <span class="num-errors">🚨 {{ game.num_errors }} error{% if game.num_errors != 1 %}s{% endif %}</span>
                    {% endif %}
                    {% if game.num_critical > 0 %}
                        <span class="num-critical">💀 {{ game.num_critical }} critical error{% if game.num_critical != 1 %}s{% endif %}</span>
                    {% endif %}
                </p>
            {% endif %}
        </a>
    </li>
{% endfor %}

{% if previous_page_url or next_page_url %}
    <div class="pagination">
        {% if previous_page_url %}
            <a class="previous-page" href="{{ previous_page_url }}">Previous page</a>
        {% endif %}

        {% if next_page_url %}
            <a class="next-page" href="{{ next_page_url }}">Next page</a>
        {% endif %}
    </div>
{% endif %}

{% endmacro %}
