{# All one line to avoid newlines being turned into spaces by HTML whitespace collapse. #}
{% macro date_format(date) %}<span title="{{ date.absolute }}">{{ date.relative }}</span>{% endmacro date_format %}

{% macro season_day(season, day) %}{% if day.is_superstar_day %}s{{ season }}ss{{ day.day }}{% elif day %}s{{ season }}d{{ day.day }}{% else %}s{{ season }}d??{% endif %}{% endmacro season_day %}